<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_target_hp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,3}</string>
                <key>spriteSourceSize</key>
                <string>{56,3}</string>
                <key>textureRect</key>
                <string>{{394,94},{56,3}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>battle_target_hp_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,3}</string>
                <key>spriteSourceSize</key>
                <string>{56,3}</string>
                <key>textureRect</key>
                <string>{{327,100},{56,3}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_ninja_run_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{57,53}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{450,238},{57,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_ninja_run_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{268,100},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_ninja_run_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{55,47}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{234,157},{55,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_ninja_run_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{55,43}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{177,212},{55,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_ninja_run_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{59,41}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{399,102},{59,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_ninja_run_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{59,49}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{207,51},{59,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_ninja_run_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{59,51}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{272,47},{59,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_ninja_run_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{57,47}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{463,63},{57,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_ninja_run_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{55,41}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{116,214},{55,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_ninja_run_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{59,45}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{465,2},{59,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_ninja_run_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-1}</string>
                <key>spriteSize</key>
                <string>{67,43}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{71,2},{67,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_ninja_run_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,0}</string>
                <key>spriteSize</key>
                <string>{63,41}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{337,2},{63,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_ninja_run_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{59,39}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{399,145},{59,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_ninja_run_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,2}</string>
                <key>spriteSize</key>
                <string>{51,35}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{291,158},{51,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_ninja_run_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-2}</string>
                <key>spriteSize</key>
                <string>{43,47}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{334,337},{43,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_ninja_run_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-5}</string>
                <key>spriteSize</key>
                <string>{43,53}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{2,271},{43,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_ninja_run_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{45,57}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{61,149},{45,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_ninja_run_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{43,51}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{328,202},{43,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_ninja_run_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{45,47}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{393,292},{45,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_ninja_run_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-2}</string>
                <key>spriteSize</key>
                <string>{63,43}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{272,2},{63,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_ninja_run_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,3}</string>
                <key>spriteSize</key>
                <string>{67,51}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{2,2},{67,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_ninja_run_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,3}</string>
                <key>spriteSize</key>
                <string>{65,51}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{140,2},{65,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_ninja_run_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,4}</string>
                <key>spriteSize</key>
                <string>{59,49}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{333,94},{59,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_ninja_run_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,6}</string>
                <key>spriteSize</key>
                <string>{55,45}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{234,206},{55,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_ninja_run_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,7}</string>
                <key>spriteSize</key>
                <string>{57,45}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{126,110},{57,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_ninja_run_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,5}</string>
                <key>spriteSize</key>
                <string>{63,47}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{207,2},{63,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_ninja_run_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,4}</string>
                <key>spriteSize</key>
                <string>{61,49}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{402,2},{61,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_ninja_run_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,4}</string>
                <key>spriteSize</key>
                <string>{57,51}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{67,96},{57,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_ninja_run_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,3}</string>
                <key>spriteSize</key>
                <string>{55,49}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{460,181},{55,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_ninja_run_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,3}</string>
                <key>spriteSize</key>
                <string>{63,49}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{2,55},{63,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_ninja_run_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,11}</string>
                <key>spriteSize</key>
                <string>{43,49}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{234,253},{43,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_ninja_run_0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,11}</string>
                <key>spriteSize</key>
                <string>{43,49}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{342,292},{43,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_ninja_run_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,12}</string>
                <key>spriteSize</key>
                <string>{45,49}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{291,247},{45,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_ninja_run_0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,13}</string>
                <key>spriteSize</key>
                <string>{47,49}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{381,243},{47,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_ninja_run_0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,14}</string>
                <key>spriteSize</key>
                <string>{61,47}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{337,45},{61,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_ninja_run_0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,15}</string>
                <key>spriteSize</key>
                <string>{65,47}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{71,47},{65,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_ninja_run_0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,14}</string>
                <key>spriteSize</key>
                <string>{61,47}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{400,53},{61,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_ninja_run_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,13}</string>
                <key>spriteSize</key>
                <string>{57,49}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{460,122},{57,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_ninja_run_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,12}</string>
                <key>spriteSize</key>
                <string>{53,49}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{59,253},{53,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_ninja_run_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,12}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{285,294},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_ninja_run_0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,13}</string>
                <key>spriteSize</key>
                <string>{53,55}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{2,216},{53,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_ninja_run_0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,13}</string>
                <key>spriteSize</key>
                <string>{53,55}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{177,157},{53,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_ninja_run_0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,12}</string>
                <key>spriteSize</key>
                <string>{53,57}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{138,55},{53,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_ninja_run_0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{55,57}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{391,186},{55,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_ninja_run_0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{2,159},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_ninja_run_0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,14}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{120,157},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_ninja_run_0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,13}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{59,196},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_ninja_run_0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,13}</string>
                <key>spriteSize</key>
                <string>{53,57}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{197,102},{53,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_ninja_run_0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,12}</string>
                <key>spriteSize</key>
                <string>{51,57}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{2,106},{51,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_ninja_run_0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{332,145},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ninja.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58ce51cb04d78458cf982e32c2cdaa64:a289119077227a08422e90b8e3a5adb0:c9ae99463aa36f7ba6d15b0f92239fbe$</string>
            <key>textureFileName</key>
            <string>ninja.png</string>
        </dict>
    </dict>
</plist>
