<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_target_hp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,3}</string>
                <key>spriteSourceSize</key>
                <string>{56,3}</string>
                <key>textureRect</key>
                <string>{{502,2},{56,3}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>battle_target_hp_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,3}</string>
                <key>spriteSourceSize</key>
                <string>{56,3}</string>
                <key>textureRect</key>
                <string>{{507,2},{56,3}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_swordsman_run_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,12}</string>
                <key>spriteSize</key>
                <string>{34,60}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{2,278},{34,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_swordsman_run_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{262,226},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_swordsman_run_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,12}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{2,212},{32,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_swordsman_run_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,12}</string>
                <key>spriteSize</key>
                <string>{32,66}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{298,104},{32,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_swordsman_run_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,13}</string>
                <key>spriteSize</key>
                <string>{32,66}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{224,112},{32,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_swordsman_run_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,13}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{366,108},{32,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_swordsman_run_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,14}</string>
                <key>spriteSize</key>
                <string>{32,62}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{202,180},{32,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_swordsman_run_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,13}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{404,208},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_swordsman_run_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,13}</string>
                <key>spriteSize</key>
                <string>{34,58}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{466,208},{34,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_swordsman_run_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,14}</string>
                <key>spriteSize</key>
                <string>{34,60}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{422,172},{34,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_swordsman_run_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,14}</string>
                <key>spriteSize</key>
                <string>{34,60}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{342,198},{34,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_swordsman_run_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,13}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{324,234},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_swordsman_run_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,15}</string>
                <key>spriteSize</key>
                <string>{62,52}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{278,172},{62,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_swordsman_run_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,15}</string>
                <key>spriteSize</key>
                <string>{60,52}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{66,254},{60,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_swordsman_run_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,15}</string>
                <key>spriteSize</key>
                <string>{62,54}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{358,142},{62,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_swordsman_run_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,15}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{200,214},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_swordsman_run_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,17}</string>
                <key>spriteSize</key>
                <string>{56,58}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{64,308},{56,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_swordsman_run_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,17}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{188,332},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_swordsman_run_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,17}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{124,356},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_swordsman_run_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,17}</string>
                <key>spriteSize</key>
                <string>{58,54}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{2,314},{58,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_swordsman_run_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,17}</string>
                <key>spriteSize</key>
                <string>{66,54}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{76,110},{66,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_swordsman_run_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,17}</string>
                <key>spriteSize</key>
                <string>{68,54}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{228,56},{68,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_swordsman_run_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,17}</string>
                <key>spriteSize</key>
                <string>{66,54}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{2,156},{66,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_swordsman_run_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,15}</string>
                <key>spriteSize</key>
                <string>{64,52}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{70,166},{64,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_swordsman_run_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,18}</string>
                <key>spriteSize</key>
                <string>{74,50}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{312,2},{74,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_swordsman_run_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,17}</string>
                <key>spriteSize</key>
                <string>{74,48}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{312,54},{74,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_swordsman_run_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,19}</string>
                <key>spriteSize</key>
                <string>{78,48}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{2,2},{78,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_swordsman_run_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,20}</string>
                <key>spriteSize</key>
                <string>{76,50}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{2,52},{76,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_swordsman_run_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,20}</string>
                <key>spriteSize</key>
                <string>{76,52}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{82,2},{76,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_swordsman_run_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,19}</string>
                <key>spriteSize</key>
                <string>{74,52}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{160,2},{74,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_swordsman_run_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,20}</string>
                <key>spriteSize</key>
                <string>{74,52}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{236,2},{74,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_swordsman_run_0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,19}</string>
                <key>spriteSize</key>
                <string>{72,52}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{388,54},{72,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_swordsman_run_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,18}</string>
                <key>spriteSize</key>
                <string>{74,50}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{388,2},{74,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_swordsman_run_0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,18}</string>
                <key>spriteSize</key>
                <string>{72,50}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{2,104},{72,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_swordsman_run_0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,19}</string>
                <key>spriteSize</key>
                <string>{72,52}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{80,56},{72,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_swordsman_run_0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,18}</string>
                <key>spriteSize</key>
                <string>{72,50}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{154,56},{72,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_swordsman_run_0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,18}</string>
                <key>spriteSize</key>
                <string>{50,58}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{444,322},{50,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_swordsman_run_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,17}</string>
                <key>spriteSize</key>
                <string>{52,58}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{446,268},{52,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_swordsman_run_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,17}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{62,366},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_swordsman_run_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,18}</string>
                <key>spriteSize</key>
                <string>{58,56}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{194,274},{58,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_swordsman_run_0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,19}</string>
                <key>spriteSize</key>
                <string>{58,56}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{128,298},{58,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_swordsman_run_0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,21}</string>
                <key>spriteSize</key>
                <string>{58,54}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{386,242},{58,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_swordsman_run_0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,21}</string>
                <key>spriteSize</key>
                <string>{60,54}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{132,242},{60,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_swordsman_run_0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,20}</string>
                <key>spriteSize</key>
                <string>{58,54}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{324,268},{58,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_swordsman_run_0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,20}</string>
                <key>spriteSize</key>
                <string>{56,54}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{2,370},{56,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_swordsman_run_0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,20}</string>
                <key>spriteSize</key>
                <string>{54,56}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{314,324},{54,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_swordsman_run_0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,20}</string>
                <key>spriteSize</key>
                <string>{52,58}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{384,298},{52,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_swordsman_run_0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,19}</string>
                <key>spriteSize</key>
                <string>{50,58}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{254,294},{50,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_swordsman_run_0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,22}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{292,138},{32,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_swordsman_run_0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,21}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{212,146},{32,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_swordsman_run_0050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,20}</string>
                <key>spriteSize</key>
                <string>{30,62}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{2,246},{30,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_swordsman_run_0051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,21}</string>
                <key>spriteSize</key>
                <string>{32,62}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{136,208},{32,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_swordsman_run_0052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,21}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{262,260},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_swordsman_run_0053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,22}</string>
                <key>spriteSize</key>
                <string>{32,62}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{68,220},{32,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_swordsman_run_0054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,23}</string>
                <key>spriteSize</key>
                <string>{32,66}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{144,140},{32,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_swordsman_run_0055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,22}</string>
                <key>spriteSize</key>
                <string>{30,68}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{154,108},{30,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_swordsman_run_0056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,22}</string>
                <key>spriteSize</key>
                <string>{36,68}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{464,2},{36,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_swordsman_run_0057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,23}</string>
                <key>spriteSize</key>
                <string>{34,64}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{462,72},{34,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_swordsman_run_0058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,24}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{136,174},{32,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_swordsman_run_0059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,24}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{432,138},{32,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>swordman.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fa4a04a8a9ad00be9b90444c4dd39ac:0d215c52ea50be7d4a394304da9fccb7:9c77fb83ed8e2acb9eb5c6e7fdcb6bb4$</string>
            <key>textureFileName</key>
            <string>swordman.png</string>
        </dict>
    </dict>
</plist>
