<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_target_hp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,3}</string>
                <key>spriteSourceSize</key>
                <string>{56,3}</string>
                <key>textureRect</key>
                <string>{{0,0},{56,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_target_hp_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,3}</string>
                <key>spriteSourceSize</key>
                <string>{56,3}</string>
                <key>textureRect</key>
                <string>{{56,0},{56,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{112,0},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{223,0},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{334,0},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{445,0},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{556,0},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{667,0},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{778,0},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{889,0},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{0,155},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{111,155},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{222,155},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{333,155},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{444,155},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{555,155},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{666,155},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{777,155},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{888,155},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{0,310},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{111,310},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{222,310},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{333,310},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{444,310},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{555,310},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{666,310},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{777,310},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{888,310},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{0,465},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{111,465},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{222,465},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{333,465},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{444,465},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{555,465},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{666,465},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{777,465},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{888,465},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{0,620},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{111,620},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{222,620},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{333,620},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{444,620},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{555,620},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{666,620},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{777,620},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{888,620},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{0,775},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{111,775},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{222,775},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{333,775},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{444,775},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{555,775},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{666,775},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{777,775},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{888,775},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{0,930},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{111,930},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{222,930},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{333,930},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{444,930},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{555,930},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{666,930},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{777,930},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{888,930},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{0,1085},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{111,1085},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{222,1085},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{333,1085},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{444,1085},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{555,1085},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{666,1085},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{777,1085},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{888,1085},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{0,1240},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{111,1240},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{222,1240},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{333,1240},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{444,1240},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{555,1240},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0077.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{666,1240},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{777,1240},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0079.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{888,1240},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>giant.png</string>
            <key>size</key>
            <string>{1000,1395}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:288b3997973749ecf752ee6d9c415552:959a2cf4a5b34e5896accdbeff9a03f7:df1b0d2b29130c2640c52faee4dbff86$</string>
            <key>textureFileName</key>
            <string>giant.png</string>
        </dict>
    </dict>
</plist>
