<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_target_hp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,3}</string>
                <key>spriteSourceSize</key>
                <string>{56,3}</string>
                <key>textureRect</key>
                <string>{{0,0},{56,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_target_hp_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,3}</string>
                <key>spriteSourceSize</key>
                <string>{56,3}</string>
                <key>textureRect</key>
                <string>{{56,0},{56,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{112,0},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{222,0},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{0,155},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{110,155},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{220,155},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{330,155},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{0,310},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{110,310},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{220,310},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{330,310},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{0,465},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{110,465},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{220,465},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{330,465},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{0,620},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{110,620},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{220,620},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{330,620},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{0,775},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{110,775},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{220,775},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{330,775},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{0,930},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{110,930},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{220,930},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{330,930},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{0,1085},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{110,1085},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{220,1085},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{330,1085},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{0,1240},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{110,1240},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{220,1240},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{330,1240},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{0,1395},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{110,1395},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{220,1395},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{330,1395},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{0,1550},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{110,1550},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{220,1550},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{330,1550},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{0,1705},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{110,1705},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{220,1705},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{330,1705},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{0,1860},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{110,1860},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{220,1860},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,155}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{330,1860},{110,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragon.png</string>
            <key>size</key>
            <string>{440,2015}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9cc3f153dd715c695b14d278ec1a547:8a7f94512625113b0e34b3d383e81e48:c4903a2f537cac14b0fcef7b8429e510$</string>
            <key>textureFileName</key>
            <string>dragon.png</string>
        </dict>
    </dict>
</plist>
